@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

$main_font : "Inter" , sans-serif;
$primary_color : #ff3b3b;
$custom_box_shadow : 0px 0px 20px 8px rgba(0, 0, 0, 0.05);
$gray_color : #f7f7f7;
$black_color : #292929;

@mixin removeButtonStyles() {
    border:0px solid black; 
    display:inline-block;
    font-weight:inherit;
    background-color:transparent;
    font-family:inherit;
    font-size:1em;
    border-radius:0px;
}