@use './variables' as variables;
div.dashboard-changes-list-wrapper{
    display:grid;
    grid-template-columns: 750px calc(100% - 750px);
    grid-gap:0px 1em;
    margin-top:3em;
}

div.dashboard-wrapper{
    display:flex;
    flex-grow:1;
}
div.left-nav-wrapper{

    flex-grow:1;
}
div.left-nav{
    &[fixed="1"]{
        height:100vh;
        position:fixed;
        top:0px;
        left:0px;
    }
    flex-shrink:0;
    padding:1em 2em;
    background-color:variables.$gray_color;
    padding-top:2em;
    border-radius:0px 1em 0px 0px;
    font-family:variables.$main_font;
    margin-right:2em;
    height:100%;
    overflow:auto;
    &>h2{
        font-size:1em;
        padding-bottom:0.2em;
        border-bottom:1px solid lightgray;
        font-weight:400;
        margin-bottom:2em;
    }
    &>ul{
        font-weight:500;
        width:150px;
        font-size:1.1em;
        list-style:none;
        padding-left:0px;
        &>li{
            margin-bottom:1.3em;
            cursor:pointer;
            &:hover{
                font-weight:600;
            }
        }
        &>li.selected{
            font-weight:650;
        }
        &>li:last-child{
            color:variables.$primary_color;
            margin-top:1.5em;
        }
    }
}

div.dashboard-inner{
    width:100%;
    padding-right:1.5em;
    font-family: variables.$main_font;
    grid-column:2 / 3;
}

div.dashboard-head-wrapper{
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    width:100%;
    padding-bottom:1em;
    border-bottom:3px solid #eee;

    &>div.dashboard-stats-wrapper{
        &>div.dashboard-stats{
            display:flex;
            &>div.change-stat-block{
                display:flex;
                align-items:center;
                &>i{
                    font-style:normal;
                    font-size:3em;
                    font-weight:600;
                    margin-right:0.2em;
                }
                margin:0px 1.5em;
            }
        }
        &>span{
            text-align:right;
            display:block;
            font-size:0.8em;
            margin-top:0.5em;
            font-weight:600;
            color:darkgray;
        }
    }


    &>div.dashboard-date{
        font-size:0.9em;
        $heading_font_weight : 550;
        &>h1{
            margin-top:0px;
            margin-bottom:0.5em;
            font-weight:$heading_font_weight;
        }
        &>h2{
            margin-top:0px;
            margin-bottom:0.3em;
            font-weight:$heading_font_weight;
            color:variables.$primary_color;
        }
        &>a{
            font-weight:600;
            font-size:1.1em;
            color:darkgray;
            cursor:pointer;
            &:hover{
                color:black;
            }
        }
    }
}


div.project-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:1em;
    font-size:1.1em;
    font-weight:700;
    &>div.filter-button{
        display:flex;
        align-items: center;
        &>button{
            @include variables.removeButtonStyles();
            color:white;
            background-color:black;
            border-radius:2em;
            font-size:0.9em;
            padding:0.3em 1em;
            margin-left:1em;
        }
    }
    &>div.project-options{
        display:inline-flex;
        align-items:center;
        &>span{
            display:inline-block;
            margin-right:1em;
        }
        & i{
            font-style:normal;
            display:inline-flex;
            align-items:center;
            margin-right:1em;
            &>svg{
                display:inline-block;
                margin-right:0.3em;
            }
        }
    }

}

div.change-block{
    max-width:750px;
    margin-bottom:1.5em;
    width:90%;
    padding:1em;
    padding-right:2em;
    border-radius:0.3em;
    background-color:#f8f8f8;
    &>span.date-added{
        font-size:0.8em;
        font-weight:500;
        display:flex;
        align-items:center;
        &>i{
            width:0.3em;
            height:0.3em;
            margin:0px 0.5em;
            background-color:black;
            border-radius:50%;
            &+b{
                color:variables.$primary_color;
            }
        }
    }
    &>div.heading-with-options{
        display:flex;
        align-items:center;
        justify-content:space-between;
        &>h2{
            margin:0.5em 0px;
        }
        & svg{
            color:variables.$primary_color;
        }
    }
    &>p{
        margin:0px;
        margin-top:0.5em;
        font-size:1.3em;
    }
    &>div.bottom-bar{
        display:flex;
        align-items:flex-end;
        justify-content: space-between;
        &>div.contributors{
            display:flex;
            align-items:center;
            &>span{
                $size : 1.8em;
                border:3px solid darkgray;
                background-size:cover;
                background-position:center;
                width:$size;
                height:$size;
                border-radius:50%;
                display:inline-block;
                margin:0px 0.3em;
                &.main{
                    border-color:variables.$primary_color;
                    margin-right:1em;
                }
                &:last-child{
                    border-radius:2em;
                    width:initial;
                    border:0px solid black;
                    padding:0.2em 0.8em;
                    height:auto;
                    margin-left:0.5em;
                    background-color:black;
                    color:white;
                    font-weight:550;
                }
            }
        }
        
    }
}


div.project-sub-heading-block{
    &>a{
        background-color:#e9e9e9;
        border-radius:2em;
        padding:0.3em 1em;
        margin-bottom:0.3em;
        margin-right:1em;
        font-weight:550;
        font-size:0.8em;
        transition:transform 0.2s ease-out;
        &:hover{
            transform:scale(1.1);
        }
    }
    &>h4{
        margin:0.6em 0px;
        margin-top:1.5em;
    }
    &>i{
        font-style:normal;
        display:flex;
        align-items:center;
        font-size:0.9em;
        color:darkgray;
        margin-top:0.8em;
        &>svg{
            margin-right:0.3em;
        }
    }
    &>span{
        background-color:#e9e9e9;
        font-size:0.8em;
        font-weight:500;
        border-radius:2em;
        padding:0.2em 1em;
        display:inline-block;
        margin-bottom:0.3em;
    }
    &>div.change-progress{
        display:flex;
        margin-top:1em;
        position: relative;
        &>div.change-checkpoint{
            margin-right:1.5em;
            position:relative;
            border-radius:50%;
            position:relative;
            background-color:white;
            width:1.8em;
            height:1.8em;
            color:white;
            border:2px solid black;
            box-sizing:border-box;
            & svg{
                width:100%;
                height:100%;
                transform:scale(0);
                transition:transform 0.3s ease-in;
            }
            &[select="1"]{
                color:black;
                & svg{
                    transform:scale(0.9);
                }
            }
            &>*{
                position:relative;
                z-index:2;
            }
            &::before{
                width:100%;
                height:100%;
                top:0px;
                left:0px;
                position:absolute;
                background-color:white;
                z-index:1;
                content:"";
                border-radius:50%;
            }
            &::after{
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                left:calc(100% - 0.1em);
                height:3px;
                background-color:black;
                content:"";
                width:1.8em;
            }
            &:last-child{
                &::after{
                    content:none;
                }
            }
        }
    }
}